.first{
    text-align: center;
    font-style: italic;
}
h1 , h2{
    color: purple;
    font-style: italic;
}
.second{
    text-align: center;

}
.about-us-font1{
    font-style: italic;
    
}
.about-us-font2{
    font-style: italic;
}
